NOH
TAN
Trial
dinov2
best_CNN_AUC_Model_NOH_ONLY.pth
best_DeiT_AUC_Model.pth           
best_EfficientNet_AUC_Model_Tan_ONLY.pth   
best_Swin_AUC_Model_NOH_ONLY.pth
best_CNN_AUC_Model_TAN_ONLY.pth   
best_EfficientNet_AUC_Model_NOH_ONLY.pth   
best_SwinTiny_AUC_Model.pth          
best_ViT_AUC_Model_TAN_ONLY.pth
best_CNN_AUC_Model_NOH_ONLY.pth   
best_EfficientNet_AUC_Model_250.pth       
best_ResNet_AUC_Model_TAN_ONLY.pth   
best_ViT_AUC_Model_NOH_ONLY.pth
best_DeiT_AUC_Model_NOH_ONLY.pth           
best_ResNet_AUC_Model.pth            
best_Swin_AUC_Model_TAN_ONLY.pth   
cnn_model.pth
Best_model_trial_5_with_AUC_0.9740.pth
best_CNN_AUC_Model.pth            
best_DeiT_AUC_Model_TAN_ONLY.pth           
best_ResNet_AUC_Model_NOH_ONLY.pth   
best_ViT_AUC_Model.pth
DINOv2/trial_2/best_Dino_Model.pth
DINOv2/trial_3/best_Dino_Model_trial_3.pth
DINOv2/trial_4/best_Dino_Model_trial_4.pth
DINOv2/trial_5/best_Dino_Model_trial_5.pth
DINOv2/trial_6/best_Dino_Model_trial_6.pth