NOH
TAN
Trial
dinov2
DINOv2/trial_2/best_Dino_Model.pth
DINOv2/trial_3/best_Dino_Model_trial_3.pth
DINOv2/trial_4/best_Dino_Model_trial_4.pth
DINOv2/trial_5/best_Dino_Model_trial_5.pth
DINOv2/trial_6/best_Dino_Model_trial_6.pth
Notebooks_folder/pca_outputs
HeatMaps
captum_heatmaps
external_test_images
PCA
MODELS
superdata